html,
body,
#root {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: ivory;
}

.active {
	height: 5em;

	display: block;
	display: flex;

	color: white;
	background-color: rgba(0, 0, 0, 0.4);
	border: 1px solid black;
	border-radius: 3px;
}

.inactive {
	display: none;
}

.appearance-container {
	width: 20em;

	display: flex;
	flex-direction: column;

	position: absolute;
	bottom: 10em;
	right: 25em;

	gap: 0.25em;
}

.body-type-container {
	display: flex;

	color: white;
	background-color: rgba(0, 0, 0, 0.6);
}

.sex-container {
	display: flex;
	gap: 0.5em;

	position: absolute;
	top: 20em;
	right: 30em;
}

/* Name */

input {
	font-size: 1.5rem;
	font-weight: 500;

	width: 8em;

	margin-left: 1em;
}

.displayed-name {
	width: 400px;

	font-size: 2rem;
	font-weight: 900;

	display: flex;
	justify-content: center;
	align-items: center;

	position: absolute;
	bottom: 12em;
	left: -6.2em;
}

.name-input-container {
	width: 300px;
	height: 50px;

	display: flex;
	align-items: center;

	padding-left: 1em;

	border: 1px solid black;
	border-radius: 3px;

	font-size: 1.5rem;
	color: white;
	background-color: rgba(0, 0, 0, 0.4);

	position: absolute;
	top: 12em;
	left: 10em;
}
